@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-lato: 'Lato', sans-serif;
  --background-gradient: linear-gradient(135deg, #3e1c5e, #1a0c3e);
  --font-megrim: 'Megrim', cursive;
}

/* Set fonts globally */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background: var(--background-gradient);
  overflow: hidden; /* Prevents scrolling */
}

/* Headers use Megrim */
h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-megrim);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 20px;
  margin: auto;
}

/* Responsive grid behavior */
@media (max-width: 768px) {
  .container {
    max-width: 100%; /* Full width on smaller devices */
    padding: 10px; /* Reduce padding */
  }

  body {
    font-size: 0.9rem; /* Slightly smaller font for mobile */
  }
}
